* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: hsl(0, 100%, 74%) url(../images/bg-intro-mobile.png) top left / cover no-repeat;
    padding: 4rem 1.6rem;
}

article {
    font-size: 1em;
    color: rgb(252, 248, 248);
    width: 100%;
    padding: 1.8rem 0;
    text-align: center;
}

article>h1 {
    font-size: 2em;
    width: 100%;
}

article p {
    line-height: 28px;
    padding: 1em 0;
    font-weight: 400;
}

section {
    padding: 1em 0;
}

.signup-header {
    text-align: center;
    color: white;
    width: 100%;
    padding: 1.5rem 3rem;
    margin-bottom: 1.5rem;
    background-color: hsl(248, 32%, 49%);
    border-radius: 12px;
    box-shadow: 0 8px 2px 0px hsla(249, 10%, 26%, 0.3);
    font-weight: 400;
}

.signup-header span {
    font-weight: 700;
}

#form {
    font-size: 1rem;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 8px 2px 0px hsla(249, 10%, 26%, 0.3);
}

.form-control {
    position: relative;
    font-size: .85em;
    margin-bottom: 1.2em;
}

input {
    width: 100%;
    margin-bottom: .2em;
    border-radius: 4px;
    border: 1px solid hsla(246, 25%, 77%, 0.651);
    padding: 1em 2em;
    padding-right: 3.5em;
    color: hsl(249, 10%, 26%);
    font-weight: 600;
}

input:focus {
    outline: 0;
    border: 1px solid rgb(133, 129, 165);
}

::-webkit-input-placeholder {
    color: rgb(96, 94, 104);
    font-weight: 500;
}

.form-control.error input {
    border: 1px solid hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}

.form-control.error input:focus, .form-control.color-change input {
    color: hsl(249, 10%, 26%);    
}

.form-control object {
    position: absolute;
    top:  .9em;
    right: 1.5em;
    visibility: hidden;
}

.form-control.error object,
.form-control.error em {
    visibility: visible;
    display: inline-block
}

.form-control em {
    width: 100%;
    text-align: right;
    font-size: .9em;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    margin-bottom: .7em;
    display: none;
}

#submit {
    width: 100%;
    padding: .8em;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 500;
    background-color: hsl(154, 59%, 51%);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 5px 2px 0px hsl(154, 74%, 44%);
}

#submit:focus,
#submit:hover {
    outline: 0;
    background-color: hsl(154, 71%, 59%);
}

.terms {
    width: 100%;
    text-align: center;
    padding: 1.5em 1em;
    font-size: .7em;
    color: hsl(246, 25%, 77%);
    font-weight: 500;
}

.terms a {
    font-size: 1em;
    color: hsla(0, 62%, 65%, 0.705);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.terms a:hover,
.terms a:focus {
    text-decoration: underline;
    color: hsl(0, 62%, 65%)
}

.attribution {
    font-size: 1rem;
    text-align: center;
    padding: 1.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    width: 100%;
}

.attribution a:hover,
.attribution a:focus {
    text-decoration: underline;
    color: hsl(228, 74%, 24%);
}

@media screen and (min-width: 1025px) {
    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        padding: 5% 8%;
        background: hsl(0, 100%, 74%) url(../images/bg-intro-desktop.png);
    }

    article {
        text-align: left;
        flex: 0 1 45%;
    }

    article > h1 {
        font-size: 2.8em;
    }

    section {
        flex: 0 1 45%;
    }
}